/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.section {
    margin: 20px auto;
    max-width: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.section h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-container input::placeholder {
    color: #aaa;
}

button {
    display: block;
    width: auto;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #007bff; /* Blue */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.saved-data {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.saved-data p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.saved-data p:first-child {
    margin-top: 0;
}

nav {
    background-color: #333;
    text-align: center;
    margin-top: auto;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

nav button {
    padding: 6px 12px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: #2828a7; /* Green */
    color: white;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #218838; /* Darker green on hover */
}
